* {
    box-sizing: border-box;
    font-size: 0px;
    margin: 0;
}
@media (min-width:750px){
#boxes {
    width: 100%;
}
.box1 {
    background-color: #F5C6D6;
    width: 100%;
    height: 130px;
    border: 5px solid white;
    margin-top: 80px;
}
#box2 {
    width: auto;
    margin: auto;
}
.subox {
    background-color: #EE2E84;
    display: inline-block;
    height: 130px;
    width: 100%;
    border: 5px solid white;
}
.box3 {
    width: auto;
    height: auto;
}
.subox1 {
    background-color: #85CFD8;
    display: inline-block;
    height: 130px;
    width: 100%;
    border: 5px solid white;
}

.box4 {
    width: auto;
    height: auto;
}
.subox2 {
    background-color: #8DC63F;
    display: inline-block;
    height: 130px;
    width: 100%;
    border: 5px solid white;
}
.subox25 {
    background-color: #E76E34;
    display: inline-block;
    height: 130px;
    width: 100%;
    border: 5px solid white;
}
}
@media(min-width:1250px){
    .box1{
        width:100%
    }
    .subox{
        width: 25%;
    }
    .subox1{
        width:50%;
    }
    .subox2{
        width:75%;
    }
    .subox25{
        width:25%
    }
}