*{
    box-sizing: border-box;
    margin: 0;

}
body{
    margin: 60px;
    background-color: cornsilk;
    
}
.content{
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: gray;
}