.app {
    display: flex;
    margin:0 auto;
    justify-content: space-between;

}
button {
    width: 130px;
    font-size: 3em;
   
}
.app h1 {
    color: red;
}
/* .app button:last-child{
    width: 200px;
    
} */